body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.move-logo {
  max-width: 30%;
}

.move-nav-toggler {
  color: #222 !important;
  margin-bottom: 0 !important;
}

.move-head {
  background-color: #d3e3ff;
  margin-bottom: 0 !important;
}

.move-head-link {
  color: #222 !important;
  font-size: 9pt;
  font-weight: bold;
}

.move-img-service {
  width: auto;
}

.move-img-about {
  width: auto;
}

.move-main-img-box {
  position: relative;
}

.img-title {
  position: absolute;
  color: #eee;
  text-align: center;
  left: 0;
  right: 0;
  top: 10%;
  margin-top: 5%;
  letter-spacing: 3px;
}

/* carusel imgs */
.move-txt-slide1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22pt;
}

.move-txt-slide2 {
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30pt;
  font-style: italic;
}
.move-txt-slide3 {
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30pt;
  font-style: italic;
}

.slide-img {
  width: 100%;
}

.move-font-lalezar-white {
  font-family: 'Lalezar', cursive;
  color: #eee;
}

.move-nav-item-top {
  color: #343a40 !important;
  font-weight: bold;
  padding: 0.5rem !important;
  font-size: smaller;
  text-transform: capitalize;
}

.move-bold {
  font-weight: bold;
}

.move-flex {
  display: flex;
  padding-left: 0;
}

/* left menu */

.left-menu {
  margin-left: 0px;
  background-color: #e4eeff;
  vertical-align: top;
  width: 250px;
  flex-grow: initial;
  display: table-column;
}

/* hide left menu in services if smaller media screen */
@media screen and (max-width: 760px) {
  .left-menu {
    display: none;
  }
}

/* hide footer menu if smaller media screen */
@media screen and (max-width: 760px) {
  #move-foot-menu {
    display: none;
  }
}

/* right content */
.right-content {
  width: 75%;
  width: 100%;
  float: right;
  display: table-column;
}

/* carusel custom css */

.move-item {
  flex: 1 1 auto;
  padding: 0;
  margin-top: 15px;
}

.move-card-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0;
}

/* footer section */

.move-footer-bkg {
  background-color: #222;
  color: #eee;
  font-size: 9pt;
}

.move-footer-link {
  color: #eee;
  font-weight: bold;
}

.move-footer-link:hover {
  color: #eee;
}

.move-copyright {
  color: #222;
  background-color: #d3e3ff;
}

.move-btn {
  background-color: #0069ac;
  color: #eee;
  border-color: #045588;
}

.move-btn:hover {
  background-color: #045588;
  color: #eee;
  border-color: #045588;
}
