body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.move-logo {
  background-image: url("./img/Big_Move.jpg"); 
  background-size: cover;
  width: 40%;
  max-width: 30%;
  max-height: 30%;  
}

.move-header {
  background-color: #d3e3ff;
}

.move-img-service {
  background-image: url("./img/truck.jpg"); 
  background-size: cover;
  background-blend-mode:darken;
  width: 100%;
  height: 300px; 
}

.move-img-about {
  background-image: url("./img/about.jpeg"); 
  background-size: cover;
  background-blend-mode:darken;
  width: 100%;
  height: 300px; 
}

.slide1 {
  background-image: url("./img/slide1.png"); 
  background-size: cover;
  width: 100%;
  height: 700px;
}

.slide2 {
  background-image: url("./img/slide2.jpg"); 
  background-size: cover;
  width: 100%;
  height: 700px;
}

.slide3 {
  background-image: url("./img/slide4.jpg"); 
  background-size: cover;
  width: 100%;
  height: 700px;
}

.move-font-lalezar-white {
  font-family: 'Lalezar', cursive;
  color: #fff;
}

.move-nav-item-top {
  color: #343a40!important;
  font-weight: bold;
  padding: .5rem!important;
  font-size: smaller;
  text-transform: capitalize;
}

.move-caps {
  text-transform: capitalize;
}

.move-bold {
  font-weight: bold;
}

.move-footer-menu {
  color: #fff;
}

.move-flex {
  display: flex;
  padding-left: 0;
}

.left-menu {
  margin-left: 0px;
  background-color: #e4eeff;
  vertical-align: top;
  width: 250px;
  flex-grow: initial;
  display: table-column;
}

@media screen and (max-width : 760px){
  .left-menu {
    display: none;
  }
  #move-footer-col1 {
    display: none;
  }
  #move-footer-col2 {
    margin-left: 25%;
    margin-bottom: 5%;
  }
  #move-footer-col3 {
    margin-left: 25%;
  }
}

.right-content {
  width: 75%;
  width: 100%;
  float: right;
  display: table-column;
}

.move-item {
  flex: 1 1 auto;
  padding: 0;
  margin-top: 15px;
}

.move-card-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0;
}

.move-img1 {
  background-image: url("./img/img1.jpg"); 
  background-size: cover;
  height: 175px;
  width: 100%;
  display: block;
}
.move-img2 {
  background-image: url("./img/img2.jpg"); 
  background-size: cover;
  height: 175px;
  width: 100%;
  display: block;
}

.move-img3 {
  background-image: url("./img/img3.jpg"); 
  background-size: cover;
  height: 175px;
  width: 100%;
  display: block;
}

.move-footer {
  background-color: rgba(0, 0, 0, .85);
}

#move-footer-col1 {
  margin-left: 7%;
}

#move-footer-col2 {
  margin-left: 0;
}

#move-footer-col3 {
  margin-right: 7%;
}

.move-btn {
  background-color: #0069ac;
  color: #fff;
  border-color: #045588;
}

.move-btn:hover {
  background-color: #045588;
  color: #fff;
  border-color: #045588;
}